* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: aliceblue;
  align-items: center;
  padding: 0 3rem;
}

.menu-items {
  display: flex;
  gap: 1.5rem;
}
.menu-items li {
  list-style: none;
}
.item {
  text-decoration: none;
  color: red;
  font-size: 1.2rem;
}
.itemHover {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: rgb(115, 166, 211);
  align-items: center;
  padding: 0 3rem;
}
